
@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,300;1,700 & display=swap");
@import "nav";
@import "Productoscartas";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }



/* Texto presentacion */
.presentacion {
  background-image: url(../imgs/lab3.png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }



/* animacion compañia */
.compania {
  animation-name: entrada-superior;
  animation-duration: 2s; }

@keyframes entrada-superior {
  0% {
    transform: translateY(-700px); }
  100% {
    transform: translateY(0); } }

h2 {
  text-align: center; }

.linea {
  height: 50vh; }



/* rrhh */
.rrhh {
  background-color: rgba(255, 0, 0, 0.74);
  background-size: cover; }

// Mixin
@mixin relaciones($alto, $ancho, $espacio) {
  height: $slto;
  padding: $ancho;
  align-items: $espacio;
  
}

.talento {
  text-align: center;
  animation-name: entrada-principal;
  animation-duration: 3s;
 @include relaciones(60px, 20px, 30px) }

@keyframes entrada-principal {
  0% {
    transform: translatey(800px); }
  100% {
    transform: translatey(0); } }

.crecimiento {
  height: 60vh;
  padding: 20px;
  align-items: center;
  text-align: center;
  animation-name: entrada-inferior;
  animation-duration: 3s; }

@keyframes entrada-inferior {
  0% {
    transform: translatex(800px); }
  100% {
    transform: translatex(0); } }

@media screen and (max-width: 768px) {
  .crecimiento {
    margin-top: 8cm; } }

.cv {
  background-color: white;
  padding: 20px;
  height: 40vh;
  align-items: center;
  text-align: center;
  animation-name: entrada-lateral;
  animation-duration: 5s; }

@keyframes entrada-lateral {
  0% {
    transform: translatex(-1000px); }
  100% {
    transform: translatex(0); } }

@media screen and (max-width: 768px) {
  .cv {
    padding: 70px; 
    margin-top: 50vh;
    
} }

/* contacto */
.pp {
  text-align: center; }

.contacto {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imgs/contacto.png.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;

  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .contacto  {
    height: 430vh; } }

.contacto2 {
  @extend .contacto;

}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center; }

.box-container .box {
  height: 9rem;
  width: 17rem;
  background: #101010a6;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem; }

.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #4527b0;
  font-size: 2rem;
  margin: 1rem 0; }

.box-container .box h3 {
  font-size: 20px;
  color: #4527b0; }

.box-container .box p {
  padding: 5px;
  font-size: 16px; }

.footer {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imgs/contacto.png.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
